.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.list-eventWrapper {
  margin-top: 15px;
}

.item-list {
  display: flex;
}

.item-category {
  margin-right: 5px;
  padding: 5px;

  border: 1px solid rgb(77, 77, 77);
}

.item-category:hover {
  cursor: pointer;
}

.item-category.active {
  background-color: rgb(77, 77, 77);

  color: #fff;
}

.project-list {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

.project-item {
  width: 322px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.project-item:nth-child(3n) {
  margin-right: 0;
}

.item-img {
  width: 100%;
  object-fit: cover;
}
